/* App.css */
.react-flow-container {
  width: 100%;
  height: 100vh; /* Fill the embed block height */
  background: #ffffff;
}

/* Optional: Matching Notion's Dark Mode */
[data-theme='dark'] .react-flow-container {
  background: #191919;
  color: white;
}